<h1>Form</h1>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask your question to our stupid coach" value="<%= params[:question] %>">
  <input type="submit" value="Ask!">
</form>
